# MinIO 설정
MINIO_ENDPOINT=minio
MINIO_PORT=9000
MINIO_ACCESS_KEY=photoadmin
MINIO_SECRET_KEY=photo123456
MINIO_BUCKET_NAME=photo-box

# 서버 설정
SERVER_URL=http://localhost:4600
PORT=4600

# 개발 환경 설정
NODE_ENV=production 